.container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  word-wrap: break-word;
  padding: 10px;
  min-height: 200px;
  max-width: 60%;
  background-color: #24273e;

  gap: 30px;
}
