.block_container {
  // background: #d1cfcf;
  width: 155px;
  height: 155px;

  :hover {
    cursor: pointer;
    opacity: 0.8;
  }

  ::before {
    content: '';
    width: calc(0.16 * $--block-size);
    height: $--block-size;
    position: absolute;
    top: calc(-0.096 * ($--block-size));
    left: calc(-0.16 * ($--block-size));
    background-color: #4c5162;
    transform: skewY(50deg);
    transform-origin: top;
  }

  ::after {
    content: '';
    width: ($--block-size);
    height: calc(0.192 * ($--block-size));
    position: absolute;
    top: calc(-0.192 * ($--block-size));
    left: calc(-0.16 * ($--block-size));
    background-color: #303649;
    transform: skew(40deg);
    transform-origin: top;
  }

  .backgroundColor {
    &_pending {
      width: $--block-size;
      height: $--block-size;
      position: absolute;
      top: 0;

      background: repeating-linear-gradient(
        to bottom,
        rgb(85, 75, 69),
        rgb(85, 75, 69) 0.2054%,
        rgb(134, 125, 8) 0.2054%,
        rgb(134, 125, 8) 17.1705%,
        rgb(134, 125, 8) 16.8378%,
        rgb(134, 125, 8) 33.1376%,
        rgb(134, 125, 8) 33.4703%,
        rgb(140, 125, 9) 50.1027%,
        rgb(140, 125, 9) 50.1027%,
        rgb(140, 125, 9) 67.0678%,
        rgb(140, 125, 9) 66.7351%,
        rgb(149, 125, 11) 83.0349%,
        rgb(149, 125, 11) 83.3676%,
        rgb(166, 125, 14) 100%
      );

      @keyframes animationLoopSlick {
        0% {
          opacity: 1;
        }
        50% {
          transform: 0.75;
        }
        100% {
          opacity: 0.5;
        }
        50% {
          transform: 0.75;
        }
        0% {
          opacity: 1;
        }
      }

      animation: 1.2s linear infinite alternate animationLoopSlick;
    }

    &_success {
      width: $--block-size;
      height: $--block-size;
      background: repeating-linear-gradient(to bottom, #9339f4, #007bff);
    }
  }
}

.anchorView {
  position: absolute !important;
  margin-top: 200px;
  margin-right: 20px;
  width: 0 !important;
  height: 0 !important;
  border-left: calc(0.2 * $--block-size) solid transparent !important;
  border-right: calc(0.2 * $--block-size) solid transparent !important;
  border-bottom: calc(0.2 * $--block-size) solid white !important;
  z-index: 5 !important;
}
